@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: 'DM Mono', monospace;
  line-height: 1.4;
  font-size: 0.85rem;
  letter-spacing: -0.01em;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-none;
  @apply font-normal;
  @apply transition-none;
  @apply border-0
}

.btn:hover {
  @apply bg-neutral-600;
  @apply transition-none;
}

.btn.btn-ghost {
  @apply shadow-none;
}
span.nav-item:hover, .active span.nav-item {
  border-bottom: 1px solid black;
}

